@import '../variables.scss';

.content{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: $content-regular;
  &.-siteWidth{ max-width: $site-width; }
  &.-wide{ max-width: $content-wide; }
  &.-narrow{ max-width: $content-narrow; }
}

@media screen and (max-width: 560px){
  .content{
    &.-siteWidth{ width: 90%; }
    &.-narrow{ width: 90%; } 
  }
}


section{
  width: 100%;
  text-align: center;
  .sectionHeader{
    margin-top: 40px;
    text-align: center;
  }
}

.nowrap{ white-space: nowrap; }

.blueLink{
  color: $siteColor;
}