va
.greeting-container {
  display: flex;
  flex-direction: column;
}

.meals-and-map {
  display: flex;
  flex-direction: row;
  position: relative;
}

@media (max-width: $media2) {
  .meals-and-map {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: 100%;
  }
  .greeting-container {
    width: 100%;
  }
}

.order-closed{
  min-height: 50vh;
  display: flex;
  text-align: center;
  @media (max-width: $media2) {
    margin: auto;
    max-width: 80%;
  }
  .info-container{
    margin: auto;
    h3{
      color: $gray-menu;
      margin-bottom: 20px;
    }
    .borderLine{
      width: 100%;
      margin-bottom: 20px;
      border-top: 1px solid $lightest-gray;
    }
    span{
      color: $dark-gray
    }
  }
}

