.howItWorks{
  section.landingHIW{
    .sectionHeader{
      margin-top: 100px;
      margin-bottom: 10px;
      h4{ color: $black }
    }
    .slogan{
      display: flex;
      justify-content: space-around;
      margin: auto;
      max-width: 400px;
      margin-bottom: 50px;
      li{
        color: $gray-menu;
        font-size: 16px;
        font-weight: 200;
      }
    }
    .main-info{
      max-width: 885px;
      padding-bottom: 40px;
      margin: 40px auto 20px;
      .column{
        display: flex;
        flex-direction: row;
        img.icon{
          width: 315px;
          margin: 0 50px 0 0;
          &.-left{
            margin: 0 0 0 50px;
          }
        }
        img.number{
          width: 65px;
          margin: 70px 15px auto;
        }
        .hiwContent{
          text-align: left;;
          h4{
            color: $main;
            font-size: 24px;
            margin-top: 80px;
            margin-bottom: 10px; 
          }
          p{
            font-size: 16px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 680px) {
    section.landingHIW{
      padding: 40px 0;
      .sectionHeader{
        margin-top: 50px;
      }
      .slogan{ margin-bottom: 50px; }
      .main-info{
        .column{
          flex-direction: column;
          width: 100%;
          text-align: center;
          margin: 20px 0;
          img.icon{ 
            order: 1;
            width: 200px;
            margin: auto;
            &.-left{
              margin: auto;
            }
          }
          img.number{
            order: 2;
            margin: auto;
          }
          .hiwContent{
            order: 3;
            text-align: center;
            h4{ margin-top: 0;}
          }
        }
      }
    }
  }
}