.howItWorks{
  section.landingHIW{
    .sectionHeader{
      margin-top: 100px;
      margin-bottom: 10px;
      h4{ color: $black }
    }
    .slogan{
      display: flex;
      justify-content: space-around;
      margin: auto;
      max-width: 400px;
      margin-bottom: 50px;
      li{
        color: $gray-menu;
        font-size: 16px;
        font-weight: 200;
      }
    }
    .main-info{
      display: flex;
      justify-content: center;
      max-width: 972px;
      padding: 20px 0 40px;
      margin: 50px auto 20px;
      .column{
        margin: 0 20px;
        width: 33%;
        text-align: left;
        &:first-of-type{ margin-left: 0px; }
        &:last-of-type{ margin-right: 0px; }
        img{
          width: 85px;
          margin: 0;
        }
        .hiwContent{
          h4{
            color: $main;
            font-size: 24px;
            margin-bottom: 10px; 
          }
          p{
            font-size: 16px;
            max-width: 320px;
            margin: auto;
          }
        }
      }
    }
  }
  @media screen and (max-width: 680px) {
    section.landingHIW{
      padding: 40px 0;
      .sectionHeader{
        margin-top: 50px;
      }
      .slogan{ margin-bottom: 50px; }
      .main-info{
        display: block;
        padding: 20px 0 40px;
        .column{
          width: 100%;
          text-align: center;
          margin: 20px 0;
          &:first-of-type{ margin-top: 0; }
          &:last-of-type{ margin-bottom: 0; }  
          img{margin: auto;}
        }
      }
    }
  }
}