// ===========
// Landing Page
// ===========

.visitor{
  section.landingHeader{
    position: relative;
    height: calc(100vh - 60px);
    max-height: 650px;
    background: url('https://blueplate-development.s3.amazonaws.com/landing.jpg') no-repeat center bottom;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    .landingCapture{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 555px;
      h3{ margin: 0 auto;}
      p{ margin: 20px auto; }
    }
  }

  section.landingHIW{
    padding: 40px 0;
    .main-info{
      display: flex;
      justify-content: center;
      padding: 20px 0;
      .column{
        margin: 0 20px;
        width: 33%;
        text-align: center;
        &:first-of-type{ margin-left: 0px; }
        &:last-of-type{ margin-right: 0px; }
        img{ 
          width: 85px;
          margin: 0 auto;
        }
        h4{ margin-bottom: 10px; }
        p{ 
          max-width: 320px;
          margin: auto;
        }
      }
    }
  }

  section.landingMap{
    padding: 40px 0;
    .mapSelector{
      display: flex;
      justify-content: center;
      text-align: center;
      margin: 0 auto;
      max-width: 450px;
    }
  }
}

