.map-container {
  position: sticky;
  position: -webkit-sticky;
  align-self: flex-start;
  top: 60px;
  display: flex;
  justify-content: center;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

#map {
  min-width: 25vw;
  height: calc(100vh - 60px);
}

.map-transition {
  transition: min-width 0.3s ease-out;
}

.collapsible-map {
  position: sticky;
  position: -webkit-sticky;
  top: 60px;
  border-left: 1px solid $lightest-gray;
  min-width: 26px;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.collapsible-map:hover {
  background: rgba(194, 194, 194, 0.15);
}

.arrow {
  width: 0;
  height: 0; // margin-left: 5px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.arrow-right {
  border-left: 13px solid $light-blue;
}

.arrow-left {
  display: none;
  border-right: 13px solid $light-blue;
}

.info-window {
  display: flex;
  font-family: $main-font-family;
}

.info-win-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-left: 10px;
}

.info-win-img {
  width: 75px;
  height: 75px;
}

.info-win-menu {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 600;
  color: $siteColor;
  margin-top: 3px;
}
.info-win-name{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 200;
  color: $gray;
}

.info-win-reserve {
  color: $main;
}

.info-win-reserve:hover {
  text-decoration: underline;
  cursor: pointer;
}

.info-window-landing{
  margin: 2px;
  text-align: center;
  height: auto;
  .info-shop-name{
    font-size: 14px;
    font-weight: 600;
    color: $orange;
  }
  .info-shop-address{
    font-size: 12px;
    font-weight: 200;
    color: $gray;
  }
}

@media (max-width: $media2) {
  .collapsible-map {
    display: none;
  }
  .map-container {
    position: relative;
    top: 0px;
    width: 100%;
    margin-top: 20px;
  }
  .map-resize {
    display: flex;
    justify-content: center;
  }
  #map {
    height: 60vh;
    width: 92vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }
}
