.modal-background {
  position: fixed;
  font-family: "Lato", sans-serif;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 20;
}

.closed-modal {
  max-width: 550px;
  background: white;
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 275px);
  .innerContent{
    padding: 40px;
    text-align: center;
    img{
      margin: auto;
      width: 25%
    }
    h4{ margin-bottom: 20px; }
    p{ 
      margin-bottom: 20px;
      line-height: 20px;
    }
    #disclaimer-agree{
      width: 13px;
      height: 13px;
      margin: 0 10px 30px 0;
    }
  }
  @media screen and (max-width: 560px){
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    .innerContent{
      padding: 0;
      width: 90%;
      margin: auto;
      box-sizing: border-box;
    }
  }
}

.leadCapture-modal{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: white;
  .innerContent{
    text-align: center;
    width: 90%;
    max-width: 450px;
    margin: auto;
    .captureLogo{
      display: flex;
      justify-content: center;
      align-items: center;
      img{ width: 20% }
      span{
        margin-left: 10px;
        font-size: 50px;
        color: $siteColor;
      }
    }
    h4{ margin-bottom: 20px; }
    p{ 
      margin: 0 auto 20px;
      margin-bottom: 20px;
      line-height: 20px;
      max-width: 375px
    }
    .reject{
      margin: 20px auto;
      color: $gray;
      display: inline-block;
      transition: all, 0.3, ease;
      &:hover{
        cursor: pointer;
        color: $light-gray;
      }
    }
  }
}

.emailCapture-box{
  box-sizing: border-box;
}    

.reserve-modal {
  width: 680px;
  height: 250px;
  background: white;
  position: absolute;
  display: flex;
  top: calc(50% - 175px);
  left: calc(50% - 340px);
}

.res-modal-img {
  width: 250px;
  height: 250px;
}

.res-modal-right {
  display: flex;
  position: relative;
  width: 430px;
  padding: 0 20px;
  box-sizing: border-box;
}

.modal-select-time {
  color: $accent;
  background: white;
  padding-left: 2%;
  border: none;
  z-index: 3;
  bottom: 75px;
  height: 38px;
  width: 80%;
  appearance: none;
  border: 1px solid $gray;
  margin: 0 2.5% 0 0;
}

.modal-select-time:hover {
  cursor: pointer;
}

.modal-reserve-btn {
  color: white;
  background: $accent;
  border: none;
  z-index: 3;
  bottom: 25px;
  height: 40px;
  width: 80%;
  text-align: center;
  margin: 0 0 0 2.5%;
}

.modal-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  font-size: 25px;
}

.res-modal-x {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  padding: 0 10px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  &:hover {
    color: $accent;
  }
}

.content-container-modal{
  margin: auto 0;
  .reservation-content-modal{
    margin-bottom: 20px;
  }
  li{
    font-size: 14px;
    line-height: 1.5;
  }
  .meal-name{
    font-size: 18px;
    color: $siteColor;
    font-weight: 600;
  }
  .meal-description{
    color: $gray;
    font-weight: 200;
    margin-bottom: 10px;
  }
  .shop-name{
    color: $orange;
    font-weight: 600;
  }
  .shop-address{
    color: $gray;
    font-weight: 200;
  }
  .pickup-time{
    color: $darkest-gray;
    font-weight: 600;
  }
  .no-meal{
    color: $gray;
    font-weight: 400;
    margin: auto;
  }
}


.select-button {
  display: flex;
  justify-content: left;
  &.-cancellation{ display: block; }
  .time-select {
    color: $accent;
    background: white;
    font-size: 14px;
    padding-left: 10px;
    border: none;
    z-index: 3;
    height: 35px;
    width: 60%;
    border: 1px solid $gray;
  }
  .modal-action {
    position: relative;
    z-index: 3;
    height: 35px;
    margin-top: 3px;
    margin-left: 10px;
    padding: 0;
    text-align: center;
    font-size: 14px;
    border: 1px solid $accent;
    color: $white;
    background-color: $accent;
    transition: all 0.5s ease;
    &:hover {
      background-color: $siteColor;
    }
    &.-pending{
      cursor: default;
      &::before {
      @extend %spinit;  
        border: solid 3px rgba($black, 45%);
        border-bottom-color: $white;
      }
    }  
  }
}

.confirm-modal {
  width: 680px;
  background: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: calc(50% - 200px);
  left: calc(50% - 275px);
}

.confirm-modal-x {
  font-size: 24px;
  font-weight: bold;
  padding: 0 10px;
  cursor: pointer;
}

.confirm-modal-bottom {
  align-self: center;
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirm-modal-text {
  font-size: 20px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $darkest-gray;
  h4 { margin-bottom: 10px; }
}

.sounds-good {
  margin-top: 15px;
  margin-bottom: 30px;
  color: white;
  background: $main;
  padding: 10px 90px;
}

.sounds-good:hover {
  cursor: pointer;
}

.confirm-ticket {
  width: 310px;
  height: 115px;
}

.confirm-number {
  letter-spacing: 2px;
  color: $main;
  font-size: 40px;
  margin: 20px auto;
}

@media (max-width: $media2) {
  .reserve-modal {
    width: 380px;
    left: calc(50% - 190px);
  }
  .res-modal-right {
    width: 380px;
  }
  .res-modal-img {
    display: none;
  }

  .confirm-modal {
    width: 380px;
    left: calc(50% - 190px);
  }
}
