.reservations-container {
  display: flex;
  justify-content: left;
  margin: 40px 30px 10px;
  .reservation-box{
    display: flex;
    justify-content: left;
    margin: 0 20px;
    border: 1px solid lightgray;
    img{
      width: 20%;
    }
    .reservation-content{
      margin: auto 0 auto 20px;
      li{
        font-size: 14px;
        line-height: 1.5;
      }
      .meal-name{
        color: $siteColor;
        font-weight: 600;
      }
      .shop-name{
        color: $gray-menu;
        font-weight: 400;
      }
      .shop-address{
        color: $gray;
        font-weight: 400;
      }
      .pickup-time{
        color: $light-gray;
        font-weight: 200;
      }
    }
  }
}