.login-page {
  background-image: url("https://blueplate-development.s3.amazonaws.com/landing.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  // min-height: calc(100vh - 60px);
  padding: 50px 0;
}

.login-form-main {
  min-width: 80vw;
  max-width: 1095px;
  margin: auto;
  .login-form-container {
    text-align: center;
    background-color: white;
    padding: 50px 80px;
    max-width: 900px;
    margin: 0 auto;
    .partitions{
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
      margin: 40px 0;
      .signupPartition{
        max-width: 400px;
        flex-grow: 1;
        margin: 0 5px;
        color: $dark-gray;
      }
    }
    &.loginForm{
      max-width: 450px;
    }
    .planForm{
      max-width: 500px;
      margin: 0 auto;
      box-sizing: border-box;
      .plans{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        li{
          padding: 15px 0 25px 0;
          width: 32%;
          border: 1px solid $grayMed;
          border-radius: 4px;
          text-align: center;
          cursor: pointer;
          h5{
            margin-top: 0;
            margin-bottom: 0;
            color: inherit;
            font-weight: 200;
          }
          h4{
            margin-top: 15px;
            margin-bottom: 0;
            color: inherit;
            font-weight: 900;
          }
          p{
            margin-top: 15px;
            color: inherit;
          }
        }
        li.active{
          border-color: $orange;
          color: $orange;
        }
      }
      button {
        margin: 20px auto;
      }
    }
    .PlanExplaination{
      max-width: 500px;
      margin: 0 auto;
      ul {
        text-align: left;
        li{
          color: $gray;
          margin: 10px 0;
          li::before {
            content: "\2022";
          }
        }
      }
    }
  }
  .sectionHeader{
    margin: 0 0 20px;;
    text-align: left;
    h4{ 
      color: $darkest-gray;
      font-size: 18px;
      margin: 0; 
    }
  }
  .column{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;;
    img{
      width: 50px;
      margin-right: 15px;
    }
    .hiwContent{
      text-align: left;
      h4{
        font-size: 18px;
        font-weight: 800;
        color: $darkest-gray;
        margin: 0;
      }
      p{ 
        margin: 0;
        color: $dark-gray;
      }
    }
  }

}

.loginForm{
  max-width: 450px;
}

.login-welcome {
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: $main;
  margin-bottom: 10px;
}
.login-to-account {
  font-size: 18px;
  font-weight: lighter;
  color: $gray;
  margin-bottom: 40px;
}

.login-form-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.billing-form-box{
  position: relative;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  .billing-form{
    margin-bottom: 20px;
    width: 100%;
    &.-flex{
      display: flex;
      justify-content: space-around;
    }
  }
  button{ margin-top: 10px; }
}

.billing-label{
  color: $darkest-gray;
  letter-spacing: 1px;
  margin: 0;
  font-size: 12px;
  text-transform: uppercase;
}

.login-errors {
  position: absolute;
  width: 100%;
  bottom: 210px;
  color: red;
}

.signup-errors {
  color: red;
  letter-spacing: 0px;
}

.label-err {
  display: flex;
  flex-direction: row;
}

.session-error {
  margin-left: 10px;
  white-space: nowrap;
}

.login-errors {
  ul {
    margin-bottom: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  button{ margin-top: 10px; }
}

.login-label {
  display: flex;
  flex-direction: column;
  color: $darkest-gray;
  width: 100%;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-size: 12px;
  text-transform: uppercase;
}

input {
  color: black;
  font-size: 16px;
  margin-top: 3px;
  padding-left: 15px;
  height: 40px;
  outline: 0px;
  border: 1px solid $gray;
  border-radius: 5px;
  width: 100%
}

select {
  margin-top: 3px;
  padding: 7px;
  height: 40px;
  font-size: 16px;
}

.login-label select:hover {
  cursor: pointer;
}

.login-label input:focus {
  border-color: $main;
}

// .session-submit {
//   display: flex;
//   justify-content: center;
//   box-sizing: border-box;

//   // border-top: 5px solid black;
//   // border-top-right-radius: 10px;
//   // border-top-left-radius: 10px;

//   border-radius: 5px;

//   // width: 440px;
//   // max-width: 30vw;
//   width: 90%;

//   height: 50px;

//   margin: 10px;
//   padding: 10px;

//   border: none;
//   color: white;
//   background-color: $main;

//   div {
//     letter-spacing: 2px;
//   }
//   &.-pending{
//     cursor: default;
//      position: relative;
//      &::before {
//      @extend %spinit;  
//       border: solid 3px rgba($black, 45%);
//       border-bottom-color: $white;
//     }
//   }
// }

.session-submit:hover {
  background-color: $accent;
}

.login-donthave {
  font-size: 18px;
  margin-top: 10px;
  color: $gray;
}

.other-link {
  font-size: 18px;
  margin-top: 5px;
  color: $accent;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  div {
    cursor: pointer;
  }

  :hover {
    text-decoration: underline;
  }
}

.sign-up-separator {
  height: 25px;
  margin: 0 0.75em;
  border-left: 1px solid $gray;
  border-right: 1px solid $gray;
}

@media (max-width: 800px) {
  .login-page {
    background-image: none;
  }
  .login-label {
    min-width: calc(80vw);
  }
  .session-submit {
    min-width: calc(80vw);
  }
  .login-form-container {
    padding: 0;
    text-align: center;
  }
  .login-welcome {
    width: 60%;
  }
}
