.SubscriptionSummary{
  background-color: #fafbfc;
  border: 1px solid #e4e6eb;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  .sectionHeader{
    margin-bottom: 10px;
    text-align: left;
    h5{ 
      color: $dark-gray2;
      margin: 0;
    }
  }
  .main-info{
    text-align: left;
    .infoSection{
      margin-bottom: 15px;
      overflow: hidden;
      h4{ 
        color: $gray-menu;
        margin: 0;
        font-size: 14px;
      }
      p{
        color: $dark-gray;
        font-size: 13px;
        margin: 0;
        line-height: 1.5;
      }
      &.-billing{
        h4, p{ color: $black }
        span{ font-weight: 900; }
      }
    }
    .infoSection:last-of-type{
      margin-bottom: 0;
    }
    .row{
      float: left;
      &.-left{
        width: 49%;
      }
      &.-right{
        width: 49%
      }
    }
    .checkout {
      display: flex;
      justify-content: space-between;
    }
    .promoField{
      padding: 5px 0;
      .checkout p {
        color: $orange !important;
      }
    }
  }

  .havePromo{
    color: $siteColor;
    font-size: 14px;
    &:hover{ cursor: pointer; }
  }
  .divider{
    margin: 15px 0 25px;
    width: 100%;
    border-bottom: 1px solid #cccccc;
  }
}