.tabs{
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  h4{
    margin: 0 30px 20px 30px;
    font-size: 20px;
    font-weight: 500;
    color: $darkest-gray;
  }
  @media screen and (max-width: 560px){
    display: block;
  }
}

.mealTab{
  display: flex;
  justify-content: left;
  .tabLabel{
    margin: 0 0 -1px;
    padding: 15px 50px;
    font-weight: 400;
    text-align: center;
    color: $light-gray;
    border: 1px solid transparent;
    :hover{
      cursor: pointer;
      color: $grayDark;
    }
    &.active{
      color: $darkest-gray;
      border: 1px solid $lightest-gray;
      border-top: 2px solid $orange;
      border-bottom: 1px solid $white;
    }
    &.mounted{
      color: $darkest-gray;
      border: 1px solid $lightest-gray;
      border-top: 2px solid $orange;
      :hover{
        cursor: inherit;
      }
    }
    @media screen and (max-width: 560px){
      padding: 15px 35px;
    }
  }
}

.borderLine{
  width: 100%;
  border-top: 1px solid $lightest-gray;
}