.admin-panel{
  padding-top: 50px;
  margin: 0 auto;
  .admin-tab{
    display: flex;
    justify-content: center;
    margin: 0 auto 40px;
    .tab{
      margin: 0 40px;
      font-weight: 200;
      color: $lightest-gray;
      &.active{
        font-weight: 800;
        color: $black;
      }
      &:hover{
        cursor: pointer;
      }
    }
  }
}

.setMenus{
  padding-top: 50px;
  margin: auto;
  .menuInput{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    label{
      font-weight: 800;
      margin-right: 20px;
    }
  }
  select{
    width: 250px;
  }
  button{
    box-sizing: border-box;
  }
}

.send-orders{
  h3{
    text-align: center;
    margin: auto;
  }
}

table{
  border-spacing: 10px 0;
}

.vendorList{
  margin-bottom: 20px;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  span{
    font-weight: 800;
  }
  th{
    text-align: center;
    border-bottom: 1px solid $lightest-gray;
    margin: 0 10px;
  }
  td{
    text-align: center;
    border-bottom: 1px solid $lightest-gray;
  }
}
