<h3>Lead Generated</h3>
<p><strong>Email:</strong>&nbsp;&nbsp;<%= @lead.email %></p>
<p><strong>Wishlist:</strong>&nbsp;&nbsp;<%= @lead.wishlist %></p>
<p><strong>Created at:</strong>&nbsp;&nbsp;<%= @lead.created_at %></p>
